<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Intranet</title>
    <style>
      .in{
        cursor: pointer;
      }

      .navtext{
            color: #f8f9fc !important;
            font-size: 18px;
            font-weight: bold;
      }

      .navtext:hover{
            color: rgb(0, 155, 95) !important;
            transition: 0.3s;
      }
    </style>
</head>
<body >
    <div class="" style="width: 100%; margin: 0px auto; background-color: #00cc99;  ">
    <div style="background-color: rgb(48, 78, 105) !important; ">
   <a href="https://cooltext.com"><img src="https://images.cooltext.com/5537143.pngg" style="width:16%;margin-left:75px;" alt="MediPets" /></a>
        <!--NavBar-->
        <nav style="float:right; width:75%" class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#">
                <img src="img/libroLogo.png" alt="" width="100px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse offset-lg-5" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item ml-2">
                  <a class="nav-link navtext" href="/inicio/">Inicio</a>
                </li>  
                              
                 <li class="nav-item ml-2">
                  <a class="nav-link navtext" href="/pedidoServicio/">Servicios</a>
                </li>  
                
                <li class="nav-item ml-2">
                  <a class="nav-link navtext" href="/pedidoUsuario/">Pedidos</a>
                </li>
                             
                <li class="nav-item ml-2">
                  <a class="nav-link navtext" href="/inicio/nosotros/">Nosotros</a>
                </li> 
                
                 <li class="nav-item ml-2">
                  <a class="nav-link navtext" href="/reclamoServicio/">Quejas</a>
                </li> 
                
                <li class="nav-item ml-2">
                  <a class="nav-link navtext" href="#">Cerrar Sesion</a>
                </li>
              </ul>
            </div>
          </nav>
       </div>
       <div style="background-color: #00cc99">
        <!--/NavBar-->
        <div style="margin-top:70px" class="col text-center text-white">
        
        <img style="width: 20%; margin-left: auto; margin-right: auto;" alt="" src="https://webstockreview.net/images/clipart-doctor-professions-11.png">
        <h3 style="color:white; font-size: 60px" class="text-center mt-4">Bienvenido a MediPets!</h3> 
        <h2 style="color:white; font-style: italic;">"El mejor cuidado para tu mascota"</h2>
              
	</div>	 	
		
	</div>

        <!--/Section datos-->
        <!--Footer-->
        <footer style="height: 50px; margin-top:70px; background-color: rgb(48, 78, 105) !important;">
          <div class="row">
              <div class="col text-center text-white">
                  <h5 class="mt-3">@Aplicacion Web DSWII  -  Copyright © MediPets 2021</h5>                
              </div>
          </div>
      </footer>
      <!--/Footer-->
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>